/* color pallete:
#BEB7A4 dull gray
#131112 sortof black
black/white for higher contrast
*/

/* elements */
a {
	text-decoration: none;
	color: #BEB7A4;
}
a:hover {
	color: white;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}
body {
	width: 85%;
	margin: 0 auto;
	background-color: #131112;
}
h1 {
	font-size: 6vw;
}
p {
	font-size: 2.5vw;
	text-align: left;
}
img {
	display: block;
	float: center;
	width: 100%;
	border: 10px ridge #BEB7A4;
}
figcaption {
	text-align: center;
	font-size: 15px;
	padding: 15px;
}

/* classes */
.banner {
	font-size: 1.5vw;
	background-color: #131112;
  line-height: 1;
  text-shadow: 1px 1px 2px #BEB7A4, 0 0 1em #BEB7A4, 0 0 0.2em white, 10px 10px 10px black;
  color: white;
  margin: 30px;
}
.content {
	width: 80vw;
	margin: 100px 0;
	background-color: #131112;
  border: 10px ridge #BEB7A4;
}
.main {
	color: white;
	padding: 10%;
	margin: 5px auto;
	font-size: 120%;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #131112;
	background-color: #131112;
}

/* fancy shit */
@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
	}
	to {
		text-shadow: 0 0 20px gray, 0 0 30px gray, 0 0 40px gray, 0 0 50px gray, 0 0 60px gray, 0 0 70px gray, 0 0 80px gray;
	}
}

/* scrapped stuff

thing for emphasizing posts on hover
div.main:hover {
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
}

*/
